table {
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

tr,
table,
td {
	border: 1px solid;
	padding: 5px 10px;
	text-align: center;
	font-size: 2vmax;
	font-weight: bold;
	overflow: visible;
}

.innie td,
table {
	height: fit-content;
	padding: 0px;
	border: 0px;
	font-size: 1vmin;
	font-weight: 100;
}

.nonmetal {
	background-color: grey;
}

.alkalimetal {
	background-color: sandybrown;
}

.alkalineearth {
	background-color: orangered;
}

.transitionmetal {
	background-color: yellow;
}

.metal {
	background-color: seagreen;
}

.metalloid {
	background-color: greenyellow;
}

.halogen {
	background-color: skyblue;
}

.noblegas {
	background-color: steelblue;
}

.lanthanide {
	background-color: slateblue;
}

.actinide {
	background-color: pink;
}
