body {
	padding-top: 1%;
	background-color: #505050;
	position: relative;
}

#header {
	margin-left: 10%;
	border-radius: 18px;
	background-color: #909090;
	width: 80%;
	box-shadow: 12px 12px 8px;
	display: inline-flex;
	justify-content: space-between;
}

#header img {
	padding-top: 10px;
	max-width: 70%;
	padding-left: 25px;
	padding-bottom: 2%;
}

#rightbox {
	align-items: initial;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;

}

#closebtn {
	padding-bottom: 15px;
	padding-right: 15px;
}

#reload {
	padding-top: 15px;
}

.mglass {
	position: fixed;
	top: 4%;
	right: 12.7%;
	height: 15vh;
	width: 12.5vw;
	/* transform: scale(1.5); */
}

.mglass img {
	height: 100%;
}

/* middle boxes */
.bodybox {
	display: inline-flex;
	padding-top: 2%;
	margin-left: 11.5vw;
	margin-right: 11.5vw;
}

#leftbox,
#rightbox2 {
	width: 8vw;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 10px;
	box-shadow: 10px 10px 10px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	background-color: #909090;
}

#leftbox {
	height: 43vh;
}

#leftbox img,
#rightbox2 img {
	margin-top: 5px;
	width: 50%;
}

#centerbox {
	width: 60vw;
	border-radius: 25px;
	box-shadow: 10px 10px 10px;
	background-color: #909090;
	background-color: #909090;
}

#centerbox img {
	width: 98%;
	padding: .5vw;
}

#rightbox2 {
	justify-content: flex-start;
	height: 43vh;
}

#eye {
	border: 7px solid red;
	border-radius: 5px;
}

#brick {
	background-image: url(resources/brick.jpg);
	margin-top: 28px;
	height: 5vh;
	width: 4.5vw;
	transform: scale(1.4);
}

/* green box */
.gbox {
	position: fixed;
	display: block;
	background-color: #88ff89;
	margin-left: 10vw;
	bottom: 6%;
	width: 26.5vw;
	height: 17.5vh;
	box-shadow: 12px 11px 8px;
	border-radius: 10px;
	padding-left: 8px;
}

.gbox p {
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 0.9vmax;
	line-height: 2px;
}

#entrez {
	font-size: 1.7vmax;
	font-family: 'Times New Roman', Times, serif;
}

#bonjour {
	margin-left: 14px;
	margin-right: 10px;
	width: 76%;
	line-height: 20px;
}

#repondre {
	font-size: 1.2vh;
}

#sentence3 {
	font-style: italic;
}

#ikea {
	position: fixed;
	bottom: 30%;
	left: 41%;
	width: 3vw;
	height: 11vh;
}

#apple {
	position: fixed;
	bottom: 35%;
	right: 37%;
	width: 5vw;
	height: 10vh;
}
